<!DOCTYPE html>
<html>
<head>
    <title>Email Confirmation</title>
</head>
<body>
    <p>Hello {{email}},</p>
    <p>Thank you for registering. Please confirm your email by clicking <a href="http://{{href}}">here</a>.</p>
    <img src="cid:logo"/>
</body>
</html>